body {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  cursor: none;
  overflow: hidden;
  background: #1ba254;
  height: 100%;
}

.lock {
  z-index: 100;
  width: 100%;
  box-shadow: 0px 2px 29px #000;
  position: absolute;
}

#blackness {
  z-index: 101;
  background: #000;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 1;
}

#lock1 {
  background: linear-gradient(#2d2128, #610e0e);
  height: 55%;
}

#lock2 {
  background: linear-gradient(#420000, #270000);
  height: 45%;
  bottom: 0;
}

#iris {
  z-index: 1;
  background: radial-gradient(#000, #000, #17251a, #16a145);
  position: absolute;
  top: 50%;
  left: 50%;
  width:100vh;
  height: 100vh;
  border-radius:50%;
}

#shine {
  background: radial-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.35));
  z-index: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 1;
}
